p,
h1,
button {
  margin: 0;
  padding: 0;
}
input:focus {
  outline: 2px solid #f4492e;
}
a {
  text-decoration: none;
}
section {
  width: 520px;
  height: 736px;
  background: #ffffff;

  border: 1px solid #c4c4c4;
  border-radius: 10px;
}

.title {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #000000;
  margin: 20px auto;
}
hr {
  background: #c4c4c4;
}
h1 {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
  margin: 26px 0 24px 12px;
}
.login {
  margin: 24px;
}
.input-box {
  width: 472px;
  height: 50px;
  background: #ffffff;
  border: 1px solid #c4c4c4;
  border-radius: 5px;
  margin-bottom: 10px;
}

/* 체크박스 */
.txt-hide {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
}

.label-hold {
  position: relative;
  display: inline-block;
  margin: 20px 0;
  font-size: 16px;
  cursor: pointer;
}

.label-hold::before {
  content: "";
  display: inline-block;
  width: 22px;
  height: 22px;
  margin-right: 10px;
  vertical-align: -5px;
  border: 1px solid black;
}

.inp-hold:focus-visible + .label-hold::before {
  outline: 2px solid #000;
  outline-offset: 5px;
}
.label-hold::after {
  position: absolute;
  top: 2px;
  left: 22px;
  content: "";
  display: inline-block;
  width: 22px;
  height: 22px;
  background: url(images/check.svg) 0 0 / 22px no-repeat;
  transition: 0.3s ease;
  opacity: 0;
}

.inp-hold:checked + .label-hold::after {
  left: 1px;
  opacity: 1;
}

/*로그인 */
.login-button {
  width: 472px;
  height: 50px;
  background: #2f80ed;
  border-radius: 5px;
  color: white;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
}
