a {
  text-decoration: none;
  color: inherit;
}
ul,
li {
  list-style: none;
}
p,
h1,
ul,
li,
body {
  margin: 0;
  padding: 0;
}
img {
  vertical-align: top;
}
.notice {
  color: #292929;
}
.notice-title {
  font-size: 30px;
}
.notice-list {
  margin-top: 20px;
  border-top: 1px solid #eee;
}
.notice-list li {
  border-bottom: 1px solid #eee;
}
.notice-list li p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  gap: 37px;
}
.notice-list li a {
  padding: 0 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 56px;
}
.notice-list li a strong {
  color: #2e6ff2;
  margin-right: 16px;
}
.more {
  position: absolute;
  top: 0;
  right: 0;
}
